.calculadora{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    color: white;
}
#main-title{
    text-align: center;
}
.calculadora-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 300px;
    text-align: left;
    background-color: rgba(250, 65, 65, 1);
}